---
import site from "../data/site";
import SEO from "simple-astro-seo";
import { getImage } from "@astrojs/image";

export interface Props {
  title?: string;
  description?: string;
  image?: string;
  canonicalURL?: string;
  type?: 'website' | 'article'
}
const {
  description = site.description,
  image = site.image,
  canonicalURL = new URL(Astro.request.url, Astro.site),
  Pagetype = 'website'
} = Astro.props;
const title = Astro.props.title
  ? [site.title, Astro.props.title].join(" | ")
  : "Astro | Make webs more fasters";
const ensureTrailingSlash = (url: string) => url.replace(/\/$/, "") + "/";

const imageResolved = await getImage({src: image})
const imageResolvedWithDomain = new URL(imageResolved.src, Astro.site).toString()
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>
<SEO
  {title}
  {description}
  url={ensureTrailingSlash(canonicalURL.toString())}
  twitterHandle={site.twitterHandle}
  image={imageResolvedWithDomain}
  siteName={site.title}
  pageType={Pagetype}
/>
